<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangjian.project.system.volunteer.mapper.VolunteerMapper">
    
    <resultMap type="Volunteer" id="VolunteerResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userIntegral"    column="user_integral"    />
        <result property="title"    column="title"    />
        <result property="text"    column="text"    />
        <result property="image"    column="image"    />
        <result property="time"    column="time"    />
        <result property="exp1"    column="exp1"    />
        <result property="exp2"    column="exp2"    />
    </resultMap>
	
	<sql id="selectVolunteerVo">
        select id, user_id, user_integral, title, text, image, time, exp1, exp2 from smart_volunteer
    </sql>
	
    <select id="selectVolunteerList" parameterType="Volunteer" resultMap="VolunteerResult">
        select sv.id, sv.user_id, sv.user_integral, sv.title, sv.text, sv.image, sv.time, sv.exp1, sv.exp2,smart_backstage_user.name as name
        from smart_volunteer sv left join smart_backstage_user on smart_backstage_user.user_id = sv.user_id
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="userIntegral != null "> and user_integral = #{userIntegral}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="text != null  and text != '' "> and text = #{text}</if>
             <if test="image != null  and image != '' "> and image = #{image}</if>
             <if test="time != null "> and time = #{time}</if>
             <if test="name != null and name != ''"> and smart_backstage_user.name = #{name}</if>
             <if test="exp1 != null  and exp1 != '' "> and exp1 = #{exp1}</if>
             <if test="exp2 != null  and exp2 != '' "> and exp2 = #{exp2}</if>
         </where>
    </select>
    
    <select id="selectVolunteerById" parameterType="Integer" resultMap="VolunteerResult">
        <include refid="selectVolunteerVo"/>
        where id = #{id}
    </select>

    <select id="selectBv" parameterType="Map" resultType="Integer">
        select count(1) from smart_backstage_volunteer where backstage_user_id = #{userId} and volunteer_id = #{volunteerId}
    </select>
        
    <insert id="insertVolunteer" parameterType="Volunteer">
        insert into smart_volunteer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="userIntegral != null  ">user_integral,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="text != null  and text != ''  ">text,</if>
			<if test="image != null  and image != ''  ">image,</if>
			time,
			<if test="exp1 != null  and exp1 != ''  ">exp1,</if>
			<if test="exp2 != null  and exp2 != ''  ">exp2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="userIntegral != null  ">#{userIntegral},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="text != null  and text != ''  ">#{text},</if>
			<if test="image != null  and image != ''  ">#{image},</if>
			now(),
			<if test="exp1 != null  and exp1 != ''  ">#{exp1},</if>
			<if test="exp2 != null  and exp2 != ''  ">#{exp2},</if>
         </trim>
    </insert>
	 
    <update id="updateVolunteer" parameterType="Volunteer">
        update smart_volunteer
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="userIntegral != null  ">user_integral = #{userIntegral},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="text != null  and text != ''  ">text = #{text},</if>
            <if test="image != null  and image != ''  ">image = #{image},</if>
            <if test="time != null  ">time = #{time},</if>
            <if test="exp1 != null  and exp1 != ''  ">exp1 = #{exp1},</if>
            <if test="exp2 != null  and exp2 != ''  ">exp2 = #{exp2},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteVolunteerById" parameterType="Integer">
        delete from smart_volunteer where id = #{id}
    </delete>
	
    <delete id="deleteVolunteerByIds" parameterType="String">
        delete from smart_volunteer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>