<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var removeFlag = [[${@permission.hasPermi('system:volunteer:remove')}]];
        var prefix = ctx + "system/volunteer";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                lookUrl: prefix + "/look/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "志愿服务",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '志愿服务编号',
					visible: false
				},
				/*{
					field : 'name',
					title : '用户',
					sortable: true
				},*/
				{
					field : 'userIntegral', 
					title : '志愿服务积分',
					sortable: true
				},
				{
					field : 'title', 
					title : '志愿服务标题',
					sortable: true
				},
				{
					field : 'image', 
					title : '志愿服务图片图片',
					sortable: true,
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<img src="'+value+'" width="200px" height="100px" id="'+index+'" onclick="dj(\'' + index + '\')">');
						return actions.join('');
					}
				},
				{
					field : 'time', 
					title : '志愿服务创建时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs" href="#" onclick="lookFull(\'' + row.id + '\')"><i class="fa fa-check"></i>活动报名</a> ');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
		function dj(index){
			var imgs = new Image();
			var img = document.getElementById(index);
			imgs.src = img.src;
			if(document.getElementById(index).width == 200 && document.getElementById(index).height ==100){
				document.getElementById(index).width = imgs.width
				document.getElementById(index).height = imgs.height
			}else{
				document.getElementById(index).width = 200
				document.getElementById(index).height = 100
			}
		};

		// 修改信息 全屏
		function lookFull(id) {
			var url = "/404.html";
			url = $.table._option.lookUrl.replace("{id}", id);
			openFull("修改" + $.table._option.modalName, url);
		}
		// 弹出层全屏
		function openFull(title, url, width, height) {
			//如果是移动端，就使用自适应大小弹窗
			if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
				width = 'auto';
				height = 'auto';
			}
			if ($.common.isEmpty(title)) {
				title = false;
			}
			;
			if ($.common.isEmpty(url)) {
				url = "/404.html";
			}
			;
			if ($.common.isEmpty(width)) {
				width = 800;
			}
			;
			if ($.common.isEmpty(height)) {
				height = ($(window).height() - 50);
			}
			;
			var index = layer.open({
				type: 2,
				area: [width + 'px', height + 'px'],
				fix: false,
				//不固定
				maxmin: true,
				shade: 0.3,
				title: "文章详情",
				content: url,
				// 弹层外区域关闭
				shadeClose: true,
				yes: function (index, layero) {
					var iframeWin = layero.find('iframe')[0];
					iframeWin.contentWindow.submitHandler();
				},
				cancel: function (index) {
					return true;
				}
			});
			layer.full(index);
		}
    </script>
</body>
</html>